#service-info-list {
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: block;
}

#service-info-list > li > a {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

@media screen and (max-width: 900px) {
    #service-info-list > li > a {
        float: none;
    }
}
