.bta-navigation > ul {
    list-style-type: none;
    margin: 0;
    display: block;
    padding: 0 0 25px;
}

.bta-navigation > ul > li {
    margin-bottom: 5px;
}

.bta-navigation > ul > li > a {
    float: left;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

@media screen and (max-width: 600px) {
    .bta-navigation > ul > li > a {
        font-size: 13px;
    }
}