.warning-banner {
    border-top: 10px solid #7eff8e;
    background: #000000 !important;
    padding: 15px;
}

.nudge {
    border-left: 0px;
    color: #ffffff;
}

.warning-banner > h3 {
    margin-top: 0;
}
