@media print {

  .govuk-phase-banner,
  .cbanner-govuk-cookie-banner,
  .hmrc-report-technical-issue,
  .govuk-header,
  .centered-content,
  .govuk-button,
  .govuk-breadcrumbs,
  .hmrc-language-select,
  .govuk-skip-link,
  .hmrc-user-research-banner,
  .govuk-back-link,
  #get-help-action,
  #content > .float--right,
  footer
  { display: none; }

  html {
    background-color: white;
  }

  #content {
    padding-bottom: 0;
  }

  .govuk-heading-xl {
    font-size: 30px;
    margin-bottom: 12px;
    margin-top: 12px;
  }

  .cert-header {
    padding-bottom: 0;
  }

  .cert-header img {
    width: 20%;
  }

  .govuk-heading-m {
    font-size: 12px;
  }

  .card-full-container {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: #f3f2f1 !important;
    -webkit-print-color-adjust: exact;
  }

  .card-full-container .card-heading {
    margin-bottom: 6px;
  }

  dl {
    font-size: 12px;
  }

  .govuk-summary-list {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .govuk-summary-list:before,
  .govuk-summary-list:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .govuk-summary-list:after {
    clear: both;
  }

  .govuk-summary-list:last-child div,
  .card-full dl:last-child {
    border-bottom: none;
  }

  dt, dd {
    font-size: 12px;
  }

  .govuk-summary-list__key, #stp-dt {
    float: left;
    clear: left;
    width: 50%;
    text-align: left;
    font-weight: bold;
  }

  .govuk-summary-list__value, #stp-dd {
    text-align: left;
    overflow: hidden;
    width: 50%;
    border-bottom: none;
    padding-bottom: 0;
  }

  #nstp-card > dl > div > dt {
    float: none;
  }

  #nstp-card {
    page-break-before: always;
  }

  #nstp-card div p {
    font-size: 12px;
    display: block;
  }

}
