@media print {

  header, #notice-banner, .centered-content, .button, .breadcrumbs, #content > .float--right, button, #get-help-action, .link-back, p {
    display: none;
  }

  html {
    background-color: white;
  }

  #content {
    padding-bottom: 0px;
  }

  .heading-xlarge {
    font-size: 30px;
    margin-bottom: 12px;
    margin-top: 0px;
  }

  .cert-header {
    padding-bottom: 0px;
  }

  .cert-header img {
    width: 20%;
  }

  .heading-medium {
    font-size: 12px;
  }

  .card-full-container {
    margin-top: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: #f3f2f1 !important;
    -webkit-print-color-adjust: exact;
  }

  .card-full-container .card-heading {
    margin-bottom: 6px;
  }

  table td {
    font-size: 12px;
  }

  .govuk-check-your-answers {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dee0e2;
  }

  .govuk-check-your-answers:before,
  .govuk-check-your-answers:after {
     content: " "; /* 1 */
     display: table; /* 2 */
   }

   .govuk-check-your-answers:after {
     clear: both;
   }

   .govuk-check-your-answers div {
    border-bottom: none;
   }

   .cya-question{
        border-bottom: none;
   }

   .cya-answer {
        border-bottom: none;
   }

   .card-full .govuk-check-your-answers:last-child {
   border-bottom: none;
   }

   dt, dd {
    font-size: 12px;
   }

  dt {
    float: left;
    clear: left;
    width: 50%;
    text-align: left;
    font-weight: bold;
    border-bottom: none;
  }

  dd {
    float: left;
    text-align: left;
    overflow: hidden;
    border-bottom: none;
  }

}