@import "card.css";
@import "print.css";

.task-overdue {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: #d4351c;
    margin-left: 5px;
    padding-top: 3px;
}

@media (max-width: 640px) {
  #paymentsSection .payment-actions .float--right {
    float: left !important;
    padding: 0 15px;
  }
}

.repayment {
  border-right: solid 6px #00703c;
}

table td:last-child.repayment-money {
  color:#00703c;
  padding-right: 16px;
}

.nowrap {
  white-space: nowrap;
}

a.in-selected-tab {
  color: #0B0C0C;
  text-decoration: none;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px;
}

.tile {
  flex-grow: 0;
  flex-basis: 100%;
  margin-bottom: 2em;
  border: 1px solid #dee0e2;
  background: #f3f2f1;
}

@media screen and (min-width:600px) and (max-width:900px) {
  .tile {
    flex-basis: 46.99%;
  }
  .tile:nth-child(2n-2) {
     margin-left: 2%;
   }
  .tile:nth-child(2n-1) {
     margin-right: 2%;
  }
}

@media screen and (min-width:900px) {
  .tile {
    flex-basis: 31%;
  }
  .tile:nth-child(3n-1) {
     margin-left: 3%;
     margin-right: 3%;
  }
}

html[data-useragent*='MSIE 10.0'] .flex-container {
  .tile {
    flex-basis: 31%;
    margin: 3%;
  }
}

.tile-no-border {
    border: 0;
}

.tile .tile-body {
  border-bottom: 0px;
  padding: 12px;
}

.tile .tile-body *:last-child {
  margin-bottom: 0;
}

.what-you-owe-amount, .what-you-owe-links {
  vertical-align: middle;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 1px 8px 1px 8px;
  font-size: 14px;
  font-weight: 600;
  background: #B10E1E;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  border-radius: 10px;
}

.js-enabled .govuk-header__menu-button {
    display: none;
}
.js-enabled .govuk-header__navigation {
    display: block;
}
