.task-overdue {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #B10E1E;
  margin-left: 5px;
  padding-top: 3px;
}

.credit-charge {
  background-color: #BFE0CE;
}

@media (max-width: 640px) {
   #paymentsSection .payment-actions .float--right {
    float: left !important;
    padding: 0 15px;
   }
}

.repayment {
    border-right: solid 6px #00823B;
}

table td:last-child.repayment-money {
    color:#00823B;
    padding-right: 16px;
}

table td:last-child.amount{
    padding-right: 16px;
}

.unallocated {
    border-right: solid 6px #005ea5;
}

table td:last-child.unallocated-payment {
    color: #005ea5;
    padding-right: 16px;
}

.nowrap {
    white-space: nowrap;
}

table td:last-child {
    text-align: right;
}

table thead {
    border-bottom: hidden;
}

a.in-selected-tab {
    color: #0B0C0C;
    text-decoration: none;
}

.bta-navigation ul{
    margin-top: 0;
}

.bta-navigation li{
    display: inline-block;
    margin: 0 0.5em;
}

.bta-navigation a{
    font-size: 16px;
}

@media(max-width: 768px) {
    .bta-navigation li{
        display: block;
        margin: 0.5em 0 0.5em 0.5em;
    }
}

.bta-navigation {
    padding: 10px 0 8px 0;
}