$govuk-assets-path: "/vat-through-software/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/vat-through-software/assets/lib/hmrc-frontend/hmrc/assets/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.govuk-main-wrapper {
  padding-top: 0;
}

.govuk-back-link, .govuk-breadcrumbs {
  margin-bottom: 30px;
}

dl.govuk-\!-margin-bottom-0 > .govuk-summary-list__row > .govuk-summary-list__key,
.vat-cert-value,
.stp {
  width: 50%;
}

.what-you-owe-key {
  width: 60%
}

.what-you-owe-amount, .what-you-owe-links {
  width: 17%
}

@media screen {
  #nstp-card > dl > div {
    border-bottom: 1px solid $govuk-border-colour;
  }
}

.what-you-owe-link {
  display: contents;
}

.what-you-owe-link > .govuk-tag {
  pointer-events: none;
}

.what-you-owe-link > a {
  color: #069;
  cursor: pointer;
  font-size: 1.1875rem;
}

.what-you-owe-link-charge {
  text-align: left;
  font-size: 1.1875rem;
  color: #069;
  cursor: pointer;
  text-decoration: underline;
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  display: inline-block;
}

.overflow {

}
.float-right {

}
.flex {

}