$govuk-assets-path: "/vat-through-software/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/vat-through-software/assets/lib/hmrc-frontend/hmrc/assets/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.govuk-main-wrapper {
  padding-top: 0;
}

.govuk-back-link {
  margin-bottom: 40px;
}

.govuk-header__link--service-name:hover {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

.govuk-heading-xl {
  margin-top: 30px;
  margin-bottom: 30px
}

.govuk-summary-list {
  margin-bottom: 0;
}

.govuk-summary-list__key {
  width: 70%;
}

.govuk-summary-list__value {
  width: 30%;
}

.card-full > dl:last-child > div > *, #stp-dt, #stp-dd, #nstp-card > dl > div > dd {
  border-bottom: none;
}

@media screen {
  #nstp-card > dl > div {
    border-bottom: 1px solid $govuk-border-colour;
  }
}
